<!doctype html>
<html lang="en" ng-app="arc2">
<head>
  <meta charset="utf-8">
  <title>ARC Dummy</title>
  <script src="js/angular.js"></script>
  <script src="js/lodash.js"></script>
  <script src="js/app.js"></script>
</head>
<body>
	<h1>ARC Dummy</h1>
	<hr><br>
	<label for="search">Search</label>
	<input id="search" type="text" ng-model="tableName" />
	<br>
	<h2>All tables</h2>
	<div ng-init="allTables = [
		  'backup.amortization_amt',
		  'backup.barrier_rate_brr',
		  'backup.coupon_call_table_cct',
		  'backup.coupon_put_table_cpt',
		  'backup.coupon_rate_param_crp',
		  'backup.coupons_known_cpk',
		  'backup.credit_spread_cds',
		  'backup.dividend_dvd',
		  'backup.master_data_mtd',
		  'backup.option_parameter_opm',
		  'backup.price_failure_pcf',
		  'backup.price_prc',
		  'backup.rating_rtg',
		  'backup.steepener_condition_spc',
		  'core.asset_allocation_class_aac',
		  'core.asset_allocation_target_aat',
		  'core.asset_manager_amg',
		  'core.assetclass_client_atc',
		  'core.assetclass_mapping_acm',
		  'core.automation_control_auc',
		  'core.benchmark_asset_class_mapping_bam',
		  'core.benchmark_bmk',
		  'core.calc_horizon_cho',
		  'core.cashflows_cfs',
		  'core.client_calculation_parameters_ccp',
		  'core.client_cnt',
		  'core.cost_type_cte',
		  'core.costs_cst',
		  'core.currency_change_ratio_ccr',
		  'core.fund_asset_share_fas',
		  'core.fund_assetclass_history_fah',
		  'core.fund_dividends_fds',
		  'core.fund_fees_ffs',
		  'core.fund_impairment_fit',
		  'core.fund_transaction_ftn',
		  'core.fund_transaction_helper_fth',
		  'core.hedge_ratio_hgr',
		  'core.key_performance_indicator_kpi',
		  'core.limit_target_lmt',
		  'core.limit_target_values_ltv',
		  'core.mark_to_model_sp_msp',
		  'core.measure_catalogue_mct',
		  'core.measure_grouping_types_mgt',
		  'core.portfolio_filter_measure_basis_pfb',
		  'core.portfolio_filter_measure_pfm',
		  'core.portfolio_filter_pfr',
		  'core.portfolio_pfo',
		  'core.portfolio_ratings_prg',
		  'core.position_interest_claims_pic',
		  'core.position_measure_basis_pmb',
		  'core.position_measure_psm',
		  'core.position_pos',
		  'core.position_price_psp',
		  'core.rating_masterscale_rms',
		  'core.scenario_par_type_spt',
		  'core.scenario_parameter_spa',
		  'core.scenario_price_spr',
		  'core.scenario_scn',
		  'core.test',
		  'core.transaction_tac',
		  'core.user_usr',
		  'information_schema._pg_foreign_data_wrappers',
		  'information_schema._pg_foreign_servers',
		  'information_schema._pg_foreign_table_columns',
		  'information_schema._pg_foreign_tables',
		  'information_schema._pg_user_mappings',
		  'information_schema.administrable_role_authorizations',
		  'information_schema.applicable_roles',
		  'information_schema.attributes',
		  'information_schema.character_sets',
		  'information_schema.check_constraint_routine_usage',
		  'information_schema.check_constraints',
		  'information_schema.collation_character_set_applicability',
		  'information_schema.collations',
		  'information_schema.column_domain_usage',
		  'information_schema.column_options',
		  'information_schema.column_privileges',
		  'information_schema.column_udt_usage',
		  'information_schema.columns',
		  'information_schema.constraint_column_usage',
		  'information_schema.constraint_table_usage',
		  'information_schema.data_type_privileges',
		  'information_schema.domain_constraints',
		  'information_schema.domain_udt_usage',
		  'information_schema.domains',
		  'information_schema.element_types',
		  'information_schema.enabled_roles',
		  'information_schema.foreign_data_wrapper_options',
		  'information_schema.foreign_data_wrappers',
		  'information_schema.foreign_server_options',
		  'information_schema.foreign_servers',
		  'information_schema.foreign_table_options',
		  'information_schema.foreign_tables',
		  'information_schema.information_schema_catalog_name',
		  'information_schema.key_column_usage',
		  'information_schema.parameters',
		  'information_schema.referential_constraints',
		  'information_schema.role_column_grants',
		  'information_schema.role_routine_grants',
		  'information_schema.role_table_grants',
		  'information_schema.role_udt_grants',
		  'information_schema.role_usage_grants',
		  'information_schema.routine_privileges',
		  'information_schema.routines',
		  'information_schema.schemata',
		  'information_schema.sequences',
		  'information_schema.sql_features',
		  'information_schema.sql_implementation_info',
		  'information_schema.sql_languages',
		  'information_schema.sql_packages',
		  'information_schema.sql_parts',
		  'information_schema.sql_sizing',
		  'information_schema.sql_sizing_profiles',
		  'information_schema.table_constraints',
		  'information_schema.table_privileges',
		  'information_schema.tables',
		  'information_schema.triggered_update_columns',
		  'information_schema.triggers',
		  'information_schema.udt_privileges',
		  'information_schema.usage_privileges',
		  'information_schema.user_defined_types',
		  'information_schema.user_mapping_options',
		  'information_schema.user_mappings',
		  'information_schema.view_column_usage',
		  'information_schema.view_routine_usage',
		  'information_schema.view_table_usage',
		  'information_schema.views',
		  'module_bcbs_279.source_deals_dls',
		  'module_bcbs_279.source_netsets_nts',
		  'module_regulatory.bank_bnk',
		  'module_regulatory.bank_products_prd',
		  'module_regulatory.bank_ratios_rat',
		  'module_regulatory.concessions_con',
		  'module_regulatory.impact_assessment_ima',
		  'module_regulatory.legislative_level_lel',
		  'module_regulatory.legislative_type_let',
		  'module_regulatory.mapping_bank_staff_bst',
		  'module_regulatory.regulations_reg',
		  'module_regulatory.regulatory_authority_rea',
		  'module_regulatory.regulatory_institution_rei',
		  'module_regulatory.staff_function_fun',
		  'module_regulatory.staff_name_nam',
		  'module_regulatory.subject_area_sub',
		  'module_regulatory.supervisory_authority_sup',
		  'module_regulatory.topic_content_toc',
		  'module_regulatory.topic_top',
		  'module_srep.assessment_response_rsp',
		  'module_srep.hard_facts_input_hfi',
		  'module_srep.question_catalogue_qce',
		  'module_srep.ratio_catalogue_rcg',
		  'module_srep.respondent_master_data_rmd',
		  'module_srep.response_control_rct',
		  'module_srep.risk_composition_rco',
		  'module_srep.risk_control_level_rcl',
		  'module_srep.section_stn',
		  'module_srep.section_values_svs',
		  'module_srep.step_stp',
		  'pg_catalog.pg_aggregate',
		  'pg_catalog.pg_am',
		  'pg_catalog.pg_amop',
		  'pg_catalog.pg_amproc',
		  'pg_catalog.pg_attrdef',
		  'pg_catalog.pg_attribute',
		  'pg_catalog.pg_auth_members',
		  'pg_catalog.pg_authid',
		  'pg_catalog.pg_available_extension_versions',
		  'pg_catalog.pg_available_extensions',
		  'pg_catalog.pg_cast',
		  'pg_catalog.pg_class',
		  'pg_catalog.pg_collation',
		  'pg_catalog.pg_constraint',
		  'pg_catalog.pg_conversion',
		  'pg_catalog.pg_cursors',
		  'pg_catalog.pg_database',
		  'pg_catalog.pg_db_role_setting',
		  'pg_catalog.pg_default_acl',
		  'pg_catalog.pg_depend',
		  'pg_catalog.pg_description',
		  'pg_catalog.pg_enum',
		  'pg_catalog.pg_event_trigger',
		  'pg_catalog.pg_extension',
		  'pg_catalog.pg_foreign_data_wrapper',
		  'pg_catalog.pg_foreign_server',
		  'pg_catalog.pg_foreign_table',
		  'pg_catalog.pg_group',
		  'pg_catalog.pg_index',
		  'pg_catalog.pg_indexes',
		  'pg_catalog.pg_inherits',
		  'pg_catalog.pg_language',
		  'pg_catalog.pg_largeobject',
		  'pg_catalog.pg_largeobject_metadata',
		  'pg_catalog.pg_locks',
		  'pg_catalog.pg_matviews',
		  'pg_catalog.pg_namespace',
		  'pg_catalog.pg_opclass',
		  'pg_catalog.pg_operator',
		  'pg_catalog.pg_opfamily',
		  'pg_catalog.pg_pltemplate',
		  'pg_catalog.pg_prepared_statements',
		  'pg_catalog.pg_prepared_xacts',
		  'pg_catalog.pg_proc',
		  'pg_catalog.pg_range',
		  'pg_catalog.pg_replication_slots',
		  'pg_catalog.pg_rewrite',
		  'pg_catalog.pg_roles',
		  'pg_catalog.pg_rules',
		  'pg_catalog.pg_seclabel',
		  'pg_catalog.pg_seclabels',
		  'pg_catalog.pg_settings',
		  'pg_catalog.pg_shadow',
		  'pg_catalog.pg_shdepend',
		  'pg_catalog.pg_shdescription',
		  'pg_catalog.pg_shseclabel',
		  'pg_catalog.pg_stat_activity',
		  'pg_catalog.pg_stat_all_indexes',
		  'pg_catalog.pg_stat_all_tables',
		  'pg_catalog.pg_stat_archiver',
		  'pg_catalog.pg_stat_bgwriter',
		  'pg_catalog.pg_stat_database',
		  'pg_catalog.pg_stat_database_conflicts',
		  'pg_catalog.pg_stat_replication',
		  'pg_catalog.pg_stat_sys_indexes',
		  'pg_catalog.pg_stat_sys_tables',
		  'pg_catalog.pg_stat_user_functions',
		  'pg_catalog.pg_stat_user_indexes',
		  'pg_catalog.pg_stat_user_tables',
		  'pg_catalog.pg_stat_xact_all_tables',
		  'pg_catalog.pg_stat_xact_sys_tables',
		  'pg_catalog.pg_stat_xact_user_functions',
		  'pg_catalog.pg_stat_xact_user_tables',
		  'pg_catalog.pg_statio_all_indexes',
		  'pg_catalog.pg_statio_all_sequences',
		  'pg_catalog.pg_statio_all_tables',
		  'pg_catalog.pg_statio_sys_indexes',
		  'pg_catalog.pg_statio_sys_sequences',
		  'pg_catalog.pg_statio_sys_tables',
		  'pg_catalog.pg_statio_user_indexes',
		  'pg_catalog.pg_statio_user_sequences',
		  'pg_catalog.pg_statio_user_tables',
		  'pg_catalog.pg_statistic',
		  'pg_catalog.pg_stats',
		  'pg_catalog.pg_tables',
		  'pg_catalog.pg_tablespace',
		  'pg_catalog.pg_timezone_abbrevs',
		  'pg_catalog.pg_timezone_names',
		  'pg_catalog.pg_trigger',
		  'pg_catalog.pg_ts_config',
		  'pg_catalog.pg_ts_config_map',
		  'pg_catalog.pg_ts_dict',
		  'pg_catalog.pg_ts_parser',
		  'pg_catalog.pg_ts_template',
		  'pg_catalog.pg_type',
		  'pg_catalog.pg_user',
		  'pg_catalog.pg_user_mapping',
		  'pg_catalog.pg_user_mappings',
		  'pg_catalog.pg_views',
		  'public.id_pfo_mapping_showcase',
		  'public.v_asst_class_arr',
		  'public.v_cash',
		  'public.v_fund_end_date',
		  'public.v_mv_start',
		  'public.v_ucits_pfr_arr',
		  'public.v_value',
		  'security.cookie_factor_cfr',
		  'security.cookie_factor_user_browser_cub',
		  'security.itancard_itc',
		  'security.login_salt_lst',
		  'security.loginlog_llg',
		  'security.loginpw_hash_lph',
		  'security.state_table_stt',
		  'security.user_lock_ulk',
		  'security.yubikey_ybk',
		  'source_bloomberg.coupon_parameter_bcp',
		  'source_bloomberg.flags_bfg',
		  'source_bloomberg.master_data_hist_mdh',
		  'source_bloomberg.master_data_mtd',
		  'source_bloomberg.price_prc',
		  'source_client.allianz_single_assets_asa',
		  'source_client.benchmark_master_bmm',
		  'source_client.benchmark_price_bmp',
		  'source_client.import_core_hy',
		  'source_client.manual_import_data_mid',
		  'source_client.manual_import_kpis_mik',
		  'source_client.manual_rating_import_mri',
		  'source_client.orf_csv_import_oci',
		  'source_client.orf_indices_import_oii',
		  'source_client.orf_measures_oms',
		  'source_client.orf_position_measures_opm',
		  'source_client.orf_ratings_ors',
		  'source_client.ultimative_parent_upt',
		  'source_client.vontobel_asset_vat',
		  'source_client.vontobel_load',
		  'source_client.vontobel_master_vmt',
		  'source_client.vontobel_nav_vnv',
		  'source_client.vontobel_price_vpc',
		  'source_client.wellington_asset_wat',
		  'source_client.wellington_load',
		  'source_client.wellington_master_wmt',
		  'source_client.wellington_nav_wnv',
		  'source_client.wellington_price_wpc',
		  'source_frontend.data_catalog_dca',
		  'source_frontend.data_dat',
		  'source_frontend.data_set_dst',
		  'source_frontend.term_deposit_tdt',
		  'source_frontend.text_snippet_ts',
		  'source_fundxml.fxml_accounts_fxacc',
		  'source_fundxml.fxml_assets_decomposed_fxadc',
		  'source_fundxml.fxml_assets_fxast',
		  'source_fundxml.fxml_average_figures_fxavf',
		  'source_fundxml.fxml_benchmarks_fxben',
		  'source_fundxml.fxml_category_fxcat',
		  'source_fundxml.fxml_corporate_action_from_fxcaf',
		  'source_fundxml.fxml_corporate_action_to_fxcat',
		  'source_fundxml.fxml_currency_change_ratios_fcr',
		  'source_fundxml.fxml_currency_exposure_fxcxp',
		  'source_fundxml.fxml_distributions_fxdst',
		  'source_fundxml.fxml_earnings_fxear',
		  'source_fundxml.fxml_import_fximp',
		  'source_fundxml.fxml_isinlist_fxisl',
		  'source_fundxml.fxml_master_data_fxmtd',
		  'source_fundxml.fxml_net_asset_value_fxnav',
		  'source_fundxml.fxml_price_fxprc',
		  'source_fundxml.fxml_rating_translation_fxrtn',
		  'source_fundxml.fxml_ratings_fxrat',
		  'source_fundxml.fxml_reference_fxref',
		  'source_fundxml.fxml_request_queue_fxreq',
		  'source_fundxml.fxml_security_accounts_fxsac',
		  'source_fundxml.fxml_security_bond_fxsbo',
		  'source_fundxml.fxml_security_call_capital_fxcac',
		  'source_fundxml.fxml_security_convertible_bond_fxcob',
		  'source_fundxml.fxml_security_credit_default_swap_fxcds',
		  'source_fundxml.fxml_security_derivative_fxder',
		  'source_fundxml.fxml_security_equity_fxequ',
		  'source_fundxml.fxml_security_fixed_time_deposit_fxftd',
		  'source_fundxml.fxml_security_foreign_exchange_trade_fxsfe',
		  'source_fundxml.fxml_security_funds_fxfun',
		  'source_fundxml.fxml_security_index_certificate_fxinc',
		  'source_fundxml.fxml_security_index_fxidx',
		  'source_fundxml.fxml_security_real_estate_fxres',
		  'source_fundxml.fxml_security_repos_fxrep',
		  'source_fundxml.fxml_security_swap_fxswa',
		  'source_fundxml.fxml_transactions_fxtac',
		  'source_fundxml.fxml_underlyings_fxunl',
		  'source_legacy.master_data_mtd',
		  'source_legacy.price_prc',
		  'source_markit.index_master_data_mkimd',
		  'source_markit.index_price_data_mkipd',
		  'source_markit.load_all_indices',
		  'source_markit.underlying_master_data_mkumd',
		  'source_master.amortization_amt',
		  'source_master.assetclass_internal_aci',
		  'source_master.barrier_rate_brr',
		  'source_master.calendar_cal',
		  'source_master.country_ctr',
		  'source_master.coupon_call_table_cct',
		  'source_master.coupon_put_table_cpt',
		  'source_master.coupon_rate_param_crp',
		  'source_master.coupons_known_cpk',
		  'source_master.credit_spread_cds',
		  'source_master.currency_cry',
		  'source_master.dataset_dst',
		  'source_master.dividend_dvd',
		  'source_master.fund_kpis_fks',
		  'source_master.fund_rating_frg',
		  'source_master.ifrs_elements_ife',
		  'source_master.ifrs_labels_ifl',
		  'source_master.ifrs_values_ifv',
		  'source_master.issuer_history_ihy',
		  'source_master.issuer_isr',
		  'source_master.issuer_type_itp',
		  'source_master.master_data_mtd',
		  'source_master.option_parameter_opm',
		  'source_master.price_failure_pcf',
		  'source_master.price_prc',
		  'source_master.rating_masterscale_rms',
		  'source_master.rating_rtg',
		  'source_master.ratios_rto',
		  'source_master.steepener_condition_spc',
		  'source_regrep.department_dpt',
		  'source_regrep.requirements_req',
		  'source_regrep.section_sec',
		  'source_regrep.technical_info_source_tis',
		  'source_regrep.technical_info_tin',
		  'source_regrep.technical_info_type_tit',
		  'source_regrep.template_columns_tpc',
		  'source_regrep.template_data_tda',
		  'source_regrep.template_field_tpf',
		  'source_regrep.template_row_tpr',
		  'source_regrep.templates_tmp',
		  'unrisk.calculation_queue_ucq',
		  'unrisk.cap_floor_historical_var',
		  'unrisk.cap_floor_historical_var_result',
		  'unrisk.cap_floor_valuation',
		  'unrisk.cap_floor_valuation_result',
		  'unrisk.computation_control',
		  'unrisk.credit_spread',
		  'unrisk.credit_spread_result',
		  'unrisk.database_journal',
		  'unrisk.equity_derivative_valuation',
		  'unrisk.equity_derivative_valuation_result',
		  'unrisk.equity_historical_var',
		  'unrisk.equity_historical_var_result',
		  'unrisk.fixed_rate_bond_historical_var',
		  'unrisk.fixed_rate_bond_historical_var_result',
		  'unrisk.fixed_rate_bond_valuation',
		  'unrisk.fixed_rate_bond_valuation_result',
		  'unrisk.forward_start_swaption_valuation',
		  'unrisk.forward_start_swaption_valuation_result',
		  'unrisk.fx_derivative_valuation',
		  'unrisk.fx_derivative_valuation_result',
		  'unrisk.fx_forward_valuation',
		  'unrisk.fx_forward_valuation_result',
		  'unrisk.general_constant_maturity_floater_historical_var',
		  'unrisk.general_constant_maturity_floater_historical_var_result',
		  'unrisk.general_constant_maturity_floater_valuation',
		  'unrisk.general_constant_maturity_floater_valuation_result',
		  'unrisk.general_interest_rate_swap_historical_var',
		  'unrisk.general_interest_rate_swap_historical_var_result',
		  'unrisk.general_interest_rate_swap_valuation',
		  'unrisk.general_interest_rate_swap_valuation_result',
		  'unrisk.hull_white_1d_calibration',
		  'unrisk.hull_white_1d_model',
		  'unrisk.inflation_floater_valuation',
		  'unrisk.inflation_floater_valuation_result',
		  'unrisk.input_call_put_schedule',
		  'unrisk.input_credit_spread_curve',
		  'unrisk.input_hull_white_1d',
		  'unrisk.input_manual_coupon_schedule',
		  'unrisk.input_manual_schedule',
		  'unrisk.input_portfolio_underlyings',
		  'unrisk.input_var_portfolio_structure',
		  'unrisk.input_yield_curve',
		  'unrisk.portfolio_historical_var',
		  'unrisk.portfolio_historical_var_result',
		  'unrisk.scenario_interest_rate_vola',
		  'unrisk.schedule_parameters',
		  'unrisk.swap_curve',
		  'unrisk.vanilla_floater_valuation',
		  'unrisk.vanilla_floater_valuation_result',
		  'unrisk.yield_curve',
		  'web_backend.table_label_tll',
		  'web_backend.table_row_names_trn',
		  'web_backend.widget_filter_criteria_wfc',
		  'web_frontend.chart_cht',
		  'web_frontend.chart_series_chs',
		  'web_frontend.client_data_ctd',
		  'web_frontend.dashboard_dbd',
		  'web_frontend.key_performance_indicator_kpi',
		  'web_frontend.limit_lmi',
		  'web_frontend.limit_threshold_ltd',
		  'web_frontend.limit_type_ltt',
		  'web_frontend.mail_queue_mqe',
		  'web_frontend.measure_catalogue_mct',
		  'web_frontend.measure_filters_client_mfc',
		  'web_frontend.measure_filters_mfr',
		  'web_frontend.orf_ratings_ors',
		  'web_frontend.period_dates_pds',
		  'web_frontend.permission_action_pat',
		  'web_frontend.permission_role_action_pra',
		  'web_frontend.permission_role_prl',
		  'web_frontend.permission_user_role_pur',
		  'web_frontend.queue_que',
		  'web_frontend.report_generation_rgt',
		  'web_frontend.report_layout_rlt',
		  'web_frontend.report_rpt',
		  'web_frontend.request_data_rqd',
		  'web_frontend.request_req',
		  'web_frontend.scenario_def_per_client_spt',
		  'web_frontend.scenario_type_ste',
		  'web_frontend.table_client_tbc',
		  'web_frontend.table_tbl',
		  'web_frontend.test_tst',
		  'web_frontend.text_widget_twt',
		  'web_frontend.user_data_usd',
		  'web_frontend.user_frame_settings_ufs'
		]">
	</div>
	<ul>
		<li ng-repeat="table in allTables | filter:tableName"> {{table}} </li>
	</ul>
</body>
</html>
